.signin-inner label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.fmxw-500 {
    max-width: 500px!important;
}
.password-eye .fa-eye {
    margin-left: -30px;
    cursor: pointer;
    margin-top: 3%;
}